<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to('Home', root_path) %>
    <%= link_to('About', about_path) %>
    <%= link_to('Projects', projects_path) %>
    <h3 id='name'>David Hale</h3>
  </header>
  <br><br><br>
  <body>
    <div class="container">
      <% if flash[:alert] %>
        <div class="card">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="card">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
