<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="https://use.fontawesome.com/612c5de416.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
  </style>

  <header>
    <%= link_to('Home', root_path) %> |
    <%= link_to('About', about_path) %> |
    <%= link_to('Projects', projects_path) %> |
    <%= link_to('Contact', new_message_path) %>
    <h3 id='name'>David Hale</h3>
  </header>
  <br><br><br>
  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class='alert alert-dismissible fade show card alertCard' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <li aria-hidden="true">&times;</li>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <footer id='navbar-footer'>
    <small>©2018 - David Hale</small>
    <small>
      <% if user_signed_in? %>
        <%= link_to('Admin', rails_admin_path)  %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Site Admin', rails_admin_path) %>
      <% end %>
    </small>
  </footer>
</html>
